:root{
  --clr-bg: #242424;
  --clr-dark: #2d2d2d;
  --clr-light: #646464;
  --clr-red: #ff3d3d;
  --clr-green: #3dff3d;
  --clr-blue: #00bbff;
  --clr-white: #ffffff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body{
  background-color: var(--clr-bg);
  height: 100%;
  font-family: monospace;
  font-family: 'Comfortaa', cursive;
  user-select: none;
  scroll-behavior: smooth;
}

img{
  width: 100%;
  height: 100%;
}

h1{
  font-size: 3em;
  color: var(--clr-red);
  text-align: center;
}

h2,
h3{
  margin-top: 6%;
  text-align: center;
  color: var(--clr-green);
}

hr{
  color: var(--clr-green);
  margin: auto;
  margin: 0.5rem;
}

p{
  text-align: justify;
}

a{
  transition: 250ms;
  color: inherit;
  text-decoration: underline dashed;
}

a:hover,
a:focus-within{
  text-decoration: underline double;
  color: var(--clr-green);
}

i.underscore{
  color: var(--clr-light);
  animation: ani-blank-inf 1s ease-in-out infinite;
}
  
@keyframes ani-blank-inf {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.background-image {
  background-image: url("/media/portfolio/cpu.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  opacity: 0.05;
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

.flex-element{
  display: flex;
  flex-wrap: wrap;
}

.main-element{
  width: 100%;
  height: 100%;
}

.main-element:nth-of-type(even){
  background-color: var(--clr-dark);
}

.center-75{
  width: 75%;
  height: 100%;
  margin: auto;
}

.vert-center-container{
  width: 100%;
  height: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.avatar-wrapper{
  height: 30%;
  min-height: 10em;
  max-height: 15em;
  width: 30%;
  min-width: 10em;
  max-width: 15em;
  margin: auto;
  border-radius: 25%;
  padding: 0.5em;
  transition: 500ms;
}

.avatar-wrapper:hover,
.avatar-wrapper:focus-within{
  transform: scale(1.1);
}

.title-wrapper{
  width: fit-content;
  margin: auto;
  transition: 500ms;
}

.title-wrapper:hover,
.title-wrapper:focus-within{
  transform: scale(1.1);
}

.title-wrapper:hover > h1,
.title-wrapper:focus-within > h1{
  animation: clr-fade 8s infinite;
}

@keyframes clr-fade {
  0%{
    color: var(--clr-red);
  }
  33%{
    color: var(--clr-green);
  }
  66%{
    color: var(--clr-blue);
  }
}

.tags-container{
  width: fit-content;
  margin: auto;
  font-size: 1.25em;
  color: var(--clr-blue);
  margin-bottom: 8%;
  margin-top: 2%;
}

.tag-element{
  padding: 0.5em;
}

.tag-element > p{
  text-align: center;
}

.description-wrapper{
  width: 75%;
  margin: auto;
}

.description-wrapper > p{
  color: var(--clr-white);
  line-height: 1.25em;
  font-size: 1.2em;
  text-indent: 1em;
}

.subtitle-container{
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
  color: var(--clr-green);
}

.descr-title{
  padding-bottom: 1rem;
}

.title-clr-red{
  color: var(--clr-red);
}

.title-clr-green{
  color: var(--clr-green);
}

.title-clr-blue{
  color: var(--clr-blue);
}
