:root{
  --clr-bg: #242424;
  --clr-dark: #2d2d2d;
  --clr-light: #646464;
  --clr-red: #ff3d3d;
  --clr-green: #3dff3d;
  --clr-blue: #00bbff;
  --clr-white: #ffffff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* = = = = TAGS = = =  */

/* TAGS - Basic structure */
html,
body{
  background-color: var(--clr-bg);
  height: 100%;
  font-family: monospace;
  font-family: 'Comfortaa', cursive;
  user-select: none;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  width: 100%;
  height: 2rem;
  z-index: 100;
  background-color: var(--clr-dark);
  border-bottom: 0.2rem solid var(--clr-bg);
  animation: enter-from-top backwards 2s ease;
}

section {
  width: 100%;
  min-height: 100%;
}

section:nth-of-type(even) {
  background-color: var(--clr-dark);
}

footer {
  min-height: 5rem;
  height: fit-content;
  width: 100%;
}

img,
iframe{
  width: 100%;
  height: 100%;
  display: block;
}

/* Headers */
h1{
  font-size: 3rem;
  color: var(--clr-red);
  text-align: center;
}

h2,
h3{
  margin-top: 6%;
  text-align: center;
  color: var(--clr-green);
}

/* Separation lines */
hr{
  color: var(--clr-green);
  margin: auto;
  margin: 0.5rem;
}

hr.bar{
  color: inherit;
  margin: 0;
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  height: 0.5rem;
  background-color: var(--clr-dark);
  border-radius: 0.3rem;
}

/* Text */
a{
  transition: 500ms;
  color: inherit;
  text-decoration: underline dashed;
}

a:hover,
a:focus-within{
  text-decoration: underline double;
  color: var(--clr-green);
}

i.underscore{
  color: var(--clr-light);
  animation: ani-blank-inf 1s ease-in-out infinite;
}

p{
  text-align: justify;
}

/* = = = = CLASSES = = = = */

/* Background Image */
.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: overlay;
  background-color: inherit;
}

.bg-code {
  background-image: url(assets/coding.png);
}

.bg-cpu {
  background-image: url(assets/cpu.png);
}

.bg-dark{
  background-color: var(--clr-dark);
}

/* CLASSES - Basic structure */
.flex-element{
  display: flex;
  flex-wrap: wrap;
}

.flex-reverse{
  flex-wrap: wrap-reverse;
}

.max-height{
  height: 100%;
}

.center-50{
  width: 50%;
  height: 100%;
  margin: auto;
}

.center-75{
  width: 75%;
  height: 100%;
  margin: auto;
}

.center-85{
  width: 85%;
  height: 100%;
  margin: auto;
}

.vert-center-container{
  height: fit-content;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav-container {
  width: 75%;
  height: 100%;
  margin: auto;
}

.nav-element {
  width: 50%;
  height: 100%;
  padding: 1%;
  box-sizing: border-box;
}

.nav-element > a {
  text-decoration: none;
}

.nav-element > a > div {
  width: 100%;
  min-height: 100%;
  height: fit-content;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  outline: 0.2rem solid var(--clr-dark);
  color: var(--clr-blue);
  background-color: var(--clr-bg);
  transition: 500ms ease;
}

.nav-element > a > div:hover,
.nav-element > a > div:focus-within {
  background-color: var(--clr-blue);
  min-height: 3rem;
  height: fit-content;
  color: var(--clr-dark);
  outline: 0.2rem solid var(--clr-dark);
}

.half {
  flex-grow: 100;
  width: 50%;
  min-width: 20rem;
}

.main > .half {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main:nth-of-type(even) {
  background-color: var(--clr-dark);
}

.main .description-wrapper {
  color: var(--clr-white);
}

.image-wrapper,
.iframe-wrapper {
  margin: auto;
  width: 90%;
  height: auto;
  outline: 0.1rem solid var(--clr-light);
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.iframe-wrapper {
  height: 95%;
  width: 75%;
}

.low-opacity {
  opacity: 0.5;
  transition: 500ms ease-in-out;
}

.low-opacity:hover,
.low-opacity:focus-within {
  opacity: 1;
}

.no-frame {
  border: 0;
  outline: 0;
}

/* Avatar */
.avatar-wrapper{
  min-height: 10em;
  max-height: 13em;
  min-width: 10em;
  max-width: 13em;
  margin: auto;
  border-radius: 50%;
  outline: 0.2rem solid var(--clr-light);
  overflow: hidden;
  transition: 500ms;
}

.avatar-wrapper:hover,
.avatar-wrapper:focus-within{
  transform: scale(1.1);
}

/* CLASSES - Text */
.title-wrapper{
  width: fit-content;
  margin: auto;
  transition: 500ms;
}

.title-wrapper:hover,
.title-wrapper:focus-within{
  transform: scale(1.1);
}

.title-wrapper:hover > h1,
.title-wrapper:focus-within > h1{
  animation: clr-fade 8s infinite;
}

.title-clr-red {
  color: var(--clr-red);
}

.title-clr-green {
  color: var(--clr-green);
}

.title-clr-blue {
  color: var(--clr-blue);
}

.subtitle-container {
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
  color: var(--clr-green);
}

.tags-container{
  width: fit-content;
  margin: auto;
  font-size: 1.25em;
  color: var(--clr-blue);
  margin-bottom: 8%;
  margin-top: 2%;
}

.tag-element{
  padding: 0.5em;
}

.tag-element > p,
.descr-center > p,
.center-text{
  text-align: center;
}

.description-wrapper{
  width: 75%;
  margin: auto;
}

.description-wrapper > p{
  color: var(--clr-white);
  line-height: 1.45rem;
  font-size: 1.15rem;
  text-indent: 2rem;
}

.descr-title{
  padding-bottom: 1rem;
}

.project-title {
  font-size: 2rem;
  width: fit-content;
  margin: auto;
}

.note-font-size {
  font-size: 0.85rem;
}

/* Language Bars */
.lang-element-container{
  color: var(--clr-white);
  font-size: 1rem;
  margin: 1.25rem 0;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-light);
  background-color: var(--clr-dark);
  outline: 0.25rem solid var(--clr-dark);
  box-sizing: border-box;
  animation: inc-opacity backwards 1s ease;
  animation-delay: calc(0.2s * var(--k));
  transition: transform 300ms ease;
}

.lang-element-container:nth-of-type(even){
  background-color: var(--clr-bg);
}

.lang-element-container:hover,
.lang-element-container:focus-within{
  transform: scale(1.05);
}

.lang-title{
  width: 25%;
  min-width: 5rem;
  text-align: right;
  padding-right: 1rem;
}

.lang-bar{
  animation: backwards 3s inc-width ease;
  animation-delay: calc(0.2s * var(--i));
}

.lang-bar-full{
  width: 50%;
  color: var(--clr-green);
}

.lang-bar-full > hr{
  background-color: var(--clr-green);
}

.lang-bar-upper{
  width: 37.5%;
  color: var(--clr-blue);
}

.lang-bar-upper > hr{
  background-color: var(--clr-blue);
}

.lang-bar-half{
  width: 25%;
  color: var(--clr-light);
}

.lang-bar-half > hr{
  background-color: var(--clr-light);
}

.lang-bar-lower{
  width: 12.5%;
  color: var(--clr-red);
}

.lang-bar-lower > hr{
  background-color: var(--clr-red);
}

.lang-bar-lowest {
  width: 7%;
  color: var(--clr-red);
}

.lang-bar-lowest > hr {
  background-color: var(--clr-red);
}

.lang-val{
  width: 20%;
  text-align: left;
  padding-left: 1rem;
  color: var(--clr-white);
  animation: inc-opacity backwards 1s ease;
  animation-delay: calc(2.5s + 0.2s * var(--j));
}


/* Large reference link buttons */
.link-container{
  border-radius: 0.5rem;
  width: 16rem;
  outline: 0.2rem solid var(--clr-light);
  background-color: var(--clr-bg);
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transition: 500ms ease;
}

.link-container:hover,
.link-container:focus-within{
  background-color: var(--clr-blue);
  transform: scale(1.1) translateY(-1rem);
}

.link-container:hover h2,
.link-container:focus-within h2{
  color: var(--clr-dark);
}

.link-container > a{
  text-decoration: none;
}

.link-wrapper{
  padding: 1rem;
}

.link-img-wrapper{
  width: 5rem;
  height: 5rem;
  margin: auto;
}

/* Spacer */
.space-3{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Footer */
.footer-element {
  height: 100%;
  padding: 1rem;
  line-height: 3rem;
  font-size: 1rem;
  color: var(--clr-white);
  width: 25%;
}

.socials-container{
  width: 50%;
}

.socials-container > div{
  width: fit-content;
  margin: auto;
}

.social-wrapper{
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  transition: 250ms ease-in-out;
  outline: none;
  border-radius: 50%;
}

.social-wrapper:hover,
.social-wrapper:focus-within{
  transform: scale(1.5) translateY(-1rem);
  outline: 0.15rem solid var(--clr-blue);
  border-radius: 0.5rem;
  background-color: var(--clr-bg);
}

.to-top > a > div{
  width: 3rem;
  height: 3rem;
  margin-right: 0;
  margin-left: auto;
  transform: rotate(180deg);
  transition: 250ms ease-in-out;
}

.to-top > a > div:hover,
.to-top > a > div:focus-within{
  transform: translateY(-1rem) scale(1.5) rotate(180deg);
}

/* = = = = ANIMATIONS = = = = */

.animate-opacity {
  animation: inc-opacity 1.5s 1s backwards ease;
}

.animate-move-left {
  animation: move-in-left 2s 1s backwards ease;
}

.animate-move-left-offset {
  animation: move-in-left-offset 2s 1s backwards ease;
}

.animate-move-right {
  animation: move-in-right 2s 2.5s backwards ease;
}

.animate-move-right-offset {
  animation: move-in-right-offset 2s 2.5s backwards ease;
}

.animate-inc-height {
  animation: inc-height 2s 1.5s backwards ease;
}

.enter-from-top {
  animation: enter-from-top backwards 2s ease;
}

@keyframes ani-blank-inf {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes clr-fade {
  0% {
    color: var(--clr-red);
  }
  33% {
    color: var(--clr-green);
  }
  66% {
    color: var(--clr-blue);
  }
}

@keyframes inc-width {
  0% {
    width: 0%;
    opacity: 0;
  }
}

@keyframes inc-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-in-left-offset {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-in-right-offset {
  0% {
    opacity: 0;
    transform: translate(50%, -50%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes inc-height {
  0% {
    height: 0;
    opacity: 0;
  }
}

@keyframes enter-from-top {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
}

/* Pre animation helper */
.op0 {
  opacity: 0;
}

/* = = = = MEDIA QUERIES = = = = */

@media screen and (max-width: 42rem) {
  .center-75,
  .center-50 {
    width: 100%;
  }

  .description-wrapper {
    width: 95%;
  }

  .description-wrapper > p{
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 50rem) {
  .lang-element-container{
    width: calc(50rem - 15%);
    margin-left: auto;
    margin-right: auto;
  }
}
